<section class="side-bar">
    <nav>
        <div class="side-bar-title text-center">
            <span>SLACA 2019</span>
        </div>

        <img class="img-fluid" src="../../assets/imgs/side-bar-logo.svg" alt="Logo SLACA2019">
        <ul>
            <li><a href="#">Apresentação</a></li>
            <li><a href="#">Comitês</a></li>
            <li><a href="#">Autores</a></li>
            <li><a href="#">Eixos temáticos</a></li>
            <li class="active"><a href="#">Trabalhos</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
</section>