<section class="header">
    <div class="header-left-side">
        <p class="header-text">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
        <p id="header-text-bold">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
        <p class="header-text">ISSN: 1234-5678</p>
    </div>

    <div class="header-right-side">
        <div class="dropdown">
            <a class="language-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img id="language-dropdown-img" src="../../assets/imgs/language-icon.svg" alt="Language Dropdown Img">
                PT, BR
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">Spanish</a></li>
                <li><a class="dropdown-item" href="#">Russian</a></li>
            </ul>
        </div>

        <div class="profile">
            <div class="profile-text">
                <p id="profile-text-welcome">Bem Vindo!</p>
                <p id="profile-text-email">alguem12@galoascience.com</p>
            </div>
            <div style="height: 1.813rem;">
                <div class="image-border">
                    <img class="profile-picture" src="../../assets/imgs/profile-picture.svg" alt="Profile Picture">
                </div>
                <div class="notification-badge">
                    <p class="notification-quantity">2</p>
                </div>
            </div>
        </div>
    </div>
</section>