<main>
    <section class="upper-container">
        <div>
            <h2 class="content-title"> Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09
                e 15
                anos, do município
                de Campinas/SP </h2>
            <div class="video-player">
                <img src="../../../assets/imgs/video-player.svg" alt="">
            </div>
        </div>

        <div class="btn-wrapper">
            <div class="btn-div">
                <button class="btn-style"><img src="../../../assets/imgs/download-icon.svg" alt="">Download</button>
                <button class="btn-style"><img src="../../../assets/imgs/favorite-star-icon.svg" alt=""></button>
                <button class="btn-style"><img src="../../../assets/imgs/doi-icon.svg" alt=""></button>
            </div>
            <div>
                <p id="quote">COMO CITAR ESSE TRABALHO?</p>
            </div>

            <div class="details">
                <div class="detail-title">
                    <p>Detalhes</p>
                </div>

                <div class="detail-body">
                    <p>Tipo de Apresentação: <b>Pôster</b></p>
                    <p>Eixo temático: <b>Alimentação e saúde (AS)</b> </p>
                    <p>Palavras-chaves: <b>Alimentos funcionais, alimentação escolar.</b></p><br>

                    <p> <b>Autores:</b><br>
                        Galileo Galilei¹<br>
                        Berta Lange de Morretes²<br>
                        Isaac Newton³<br>
                        Cesar Lattes¹<br>
                        Stephen Hawking⁴</p><br>

                    <p>¹Universidade Estadual de Campinas <br>
                        ²Universidade de São Paulo <br>
                        ³Instituto Nacional de Pesquisas Espaciais <br>
                        ⁴Universidade Federal do Rio de Janeiro</p>
                </div>
            </div>
        </div>
    </section>

    <section class="mid-container">
        <div class="resume">
            <div class="resume-title">
                <p>Resumo</p>
            </div>

            <div class="resume-body">
                <div class="colapsed-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur vel adipiscing elit. Phasellus vitae turpis auctor,
                        mollis felis
                        ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce
                        auctor
                        eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet.
                        Donec
                        finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo
                        condimentum
                        lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac
                        gravida
                        eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl
                        metus.
                        Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam
                        dictum
                        nisl, felis vel non aliquet lorem enim accumsan sit ametl accumsant... <span id="expand-btn"
                            class="expand-colapse-btn-style btn-show-more" (click)="expandText()"><b>ver
                                mais</b></span>
                    </p>
                </div>

                <div class="expanded-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis
                        felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
                        Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim
                        accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque
                        sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.
                    </p><br>

                    <p>
                        Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat
                        feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla,
                        ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit
                        non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat
                        ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec
                        ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
                    </p><br>

                    <p>
                        Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat.
                        Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie
                        eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper,
                        efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet
                        nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit
                        amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis,
                        orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur
                        lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
                    </p><br>

                    <p>
                        Praesent velit dolor, dignissim sed ut nec quam ac, efficitur porta justo. Pellentesque porta
                        pharetra
                        felis ut quam sedhendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam.
                        Maecenas
                        dapibus luctus dolor at viverra. Duis fringilla libero. Duis risus nibh, viverra ac orci
                        nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum
                        purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. <span id="colapse-btn" class="expand-colapse-btn-style" (click)="colapseText()"><b>ver
                                menos</b></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="discussions">
            <div class="discussions-title">
                <p>Discussões</p>
            </div>

            <div class="discussions-body">
                <div class="discussion-content text-center">
                    <div class="content-wrapper">
                        <p class="discussion-subtitle">Compartilhe suas ideias ou dúvidas com os autores!</p>

                        <div class="discussion-imgs">
                            <img src="../../../assets/imgs/discussion-icon1.svg" alt="">
                            <img src="../../../assets/imgs/discussion-icon2.svg" alt="">
                            <img src="../../../assets/imgs/discussion-icon3.svg" alt="">
                        </div>

                        <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe
                            seus
                            <br>
                            questionamentos ou sugestões para o autor!
                        </p>
                    </div>


                    <div class="create-topic">
                        <hr class="hr-style">
                        <button class="btn-create-topic" (click)="showTopicForm()"><img
                                src="../../../assets/imgs/create-topic-plus-icon.svg" alt="">
                            criar tópico</button>
                    </div>
                </div>

                <div class="form text-center">
                    <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
                    <form action="">
                        <div style="display: flex;
                        flex-direction: column; align-items: flex-start;">
                            <label for="subject-input">Assunto</label>
                            <input id="subject-input" class="subject" type="text"
                                placeholder="Defina um tópico sucinto para notificar os autores...">
                        </div>

                        <div style="display: flex;
                        flex-direction: column; align-items: flex-start; margin-top: 10px;">
                            <label for="content-input">Conteúdo</label>
                            <textarea id="content-input"></textarea>
                            <div class="submit-div">
                                <button id="submit-btn" type="submit" (click)="submitForm($event)">Enviar</button>
                            </div>
                        </div>
                        <hr class="hr-style mt-3 mb-4">
                    </form>
                </div>

                <div class="topic-submited">
                    <div class="paragraph-separation text-center">
                        <div class="paragraph-gap">
                            <p class="discussion-subtitle">Seu tópico foi enviado com sucesso! :D</p>
                            <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu
                                tópico
                                for respondido!</p>
                        </div>


                        <a href="#">Descubra outros trabalhos!</a>
                    </div>

                    <div class="create-topic">
                        <hr class="hr-style">
                        <button class="btn-create-new-topic" (click)="createNewTopic()">
                            criar novo tópico</button>
                    </div>

                    <div class="waiting-feedback">
                        <img src="../../../assets/imgs/waiting-feedback-icon.svg" alt="">
                        <p>Aguardando feedback dos autores</p>
                        <a href="#">Editar tópico</a>
                    </div>

                    <div class="blurred-card-border">
                        <div class="topic-card blurred-card mb-3">
                            <div class="blurred-content">
                                <div>
                                    <p class="topic-title">Assunto da pergunta aparece aqui</p>
                                    <p class="topic-subtitle">Carlos Henrique Santos</p>
                                </div>

                                <p class="topic-content">Comecinho da pergunta aparece aqui resente relato inscreve-se
                                    no
                                    campo
                                    da
                                    análise da dimensão e impacto de processo formativo situado impacto de processo
                                    formativo
                                    processo...</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="cards-area">
                    <div id="topic1" class="topic-card">
                        <div>
                            <p class="topic-title">Assunto da pergunta aparece aqui</p>
                            <p class="topic-subtitle">Carlos Henrique Santos</p>
                        </div>

                        <p class="topic-content">Comecinho da pergunta aparece aqui resente relato inscreve-se no
                            campo
                            da
                            análise da dimensão e impacto de processo formativo situado impacto de processo
                            formativo
                            processo...</p>

                        <div class="topic-estatistics">
                            <button class="estatistics-btn-style"> <img
                                    src="../../../assets/imgs/more-information-icon.svg" alt=""></button>
                            <button class="estatistics-btn-style" style="width: 46px;"><img
                                    src="../../../assets/imgs/favorite-icon.svg" alt=""></button>

                            <p>1 like</p>
                            <p>1 resposta</p>
                        </div>
                    </div>

                    <div id="topic2" class="topic-card answered-topic" (click)="expandTopicCard()">
                        <div>
                            <p class="topic-title ops-topic-subject" (click)="expandTopicCard()">Assunto da pergunta
                                aparece aqui</p>
                            <p class=" topic-subtitle">Carlos Henrique Santos</p>
                        </div>

                        <p class="topic-content comments-container" (click)="expandTopicCard()">Comecinho da pergunta
                            aparece aqui resente
                            relato inscreve-se no
                            campo
                            da
                            análise da dimensão e impacto de processo formativo situado impacto de processo
                            formativo
                            processo...</p>

                        <div class="topic-estatistics">
                            <button class="estatistics-btn-style"> <img
                                    src="../../../assets/imgs/more-information-icon.svg" alt=""></button>
                            <button class="estatistics-btn-style" style="width: 46px;"><img
                                    src="../../../assets/imgs/favorite-icon.svg" alt=""></button>

                            <p>1 like</p>
                            <p>1 resposta</p>
                        </div>
                    </div>
                </div>

                <div class="expanded-topic">

                    <div class="topic-card">
                        <div>
                            <p class="topic-title">Assunto da pergunta aparece aqui</p>
                            <p class="topic-subtitle">Carlos Henrique Santos</p>
                        </div>

                        <p class="topic-content" (click)="colapseTopicCard()">
                            Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da
                            dimensão e impacto de processo formativo situado impacto de processo formativo processo
                            resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo
                            situado impacto de processo formativo processo?
                        </p>

                        <div class="topic-estatistics">
                            <button class="estatistics-btn-style"> <img
                                    src="../../../assets/imgs/more-information-icon.svg" alt=""></button>
                            <button class="estatistics-btn-style" style="width: 46px;"><img
                                    src="../../../assets/imgs/favorite-icon.svg" alt=""></button>

                            <div style="display: flex; gap: 10px;">
                                <p>4 likes</p>
                                <p>4 respostas</p>
                            </div>

                        </div>


                    </div>

                    <div class="expanded-topic-card verified">
                        <div class="subtitle-wrapper">
                            <p class="expanded-topic-subtitle">Adriano da Silva</p>
                            <div class="verified-wrapper">
                                <p>Autor</p>
                                <img src="../../../assets/imgs/verified-icon.svg" alt="">
                            </div>
                        </div>

                        <p class="topic-content">
                            Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de
                            processo formativo situado impacto de processo formativo processo resente relato inscreve-se
                            no campo da análise da dimensão e impacto de processo formativo situado impacto de processo
                            formativo processo.
                        </p>

                    </div>

                    <div class="expanded-topic-card non-verified">
                        <div>
                            <p class="expanded-topic-subtitle">Carlos Henrique Santos</p>
                        </div>

                        <p class="topic-content">
                            Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de
                            processo formativo situado impacto de processo formativo.
                            <br><br>
                            Obrigada pela resposta, muito interessante o seu trabalho!
                        </p>

                    </div>

                    <div class="expanded-topic-card verified">
                        <div class="subtitle-wrapper">
                            <p class="expanded-topic-subtitle">Carmila Ferreira Andrade</p>
                            <div class="verified-wrapper">
                                <p>Coautor</p>
                                <img src="../../../assets/imgs/verified-icon.svg" alt="">
                            </div>
                        </div>

                        <p class="topic-content">
                            Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e
                            impacto de processo formativo situado impacto de processo formativo processo resente relato
                            inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto
                            de processo formativo processo.
                            <br><br>
                            Situado impacto de processo formativo processo resente relato inscreve-se no campo da
                            análise da dimensão e impacto de processo formativo situado impacto de processo formativo
                            processo.
                        </p>

                    </div>

                    <div class="expanded-topic-card verified">
                        <div class="subtitle-wrapper">
                            <p class="expanded-topic-subtitle">Ana Carolina</p>
                            <div class="verified-wrapper">
                                <p>Coautor</p>
                                <img src="../../../assets/imgs/verified-icon.svg" alt="">
                            </div>
                        </div>

                        <p class="topic-content">
                            Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de
                            processo formativo situado impacto de processo formativo processo resente relato inscreve-se
                            no campo da análise da dimensão e impacto de processo formativo situado impacto de processo
                            formativo processo.
                        </p>

                    </div>

                </div>

            </div>


        </div>

    </section>

    <section class="lower-container">
        <footer>
            <div class="footer-wrapper">
                <img src="../../../assets/imgs/logo-galoa-footer.svg" alt="">
                <div class="footer-paragraph-wrapper">
                    <p><b>Preservar a memória do evento e ampliar o acesso ao conhecimento científico</b> gerado em
                        eventos
                        é a
                        razão de ser da plataforma Galoá Proceedings.</p>
                    <p>Os trabalhos publicados aqui têm maior alcance e ficam disponíveis para toda a comunidade
                        científica,
                        mantendo aceso o debate científico fomentado pelos encontros e aumentando o impacto do evento.
                    </p>
                </div>
            </div>
        </footer>
    </section>

</main>